body {
    background-color: #f8ecea;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
}

h1 {
    color: #1f4fd8;
    font-size: 36px;
}

p {
    color: #333;
    font-size: 18px;
}


img {
    margin-top: 20px;
    border-radius: 10px;
}




button {
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #1f4fd8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #163aa9;
}




form {
    margin-top: 40px;
}

input, textarea {
    width: 300px;
    padding: 10px;
    font-size: 14px;
}

textarea {
    resize: none;
}

h2 {
    margin-top: 40px;
    color: #333;
}




